<html>
    <body>
        <h1><b>the story in the book</b></h1>
        <h2>chapter 1</h2>
        <p>Molly had been stsring out of her window for about an hour now&#44; On her desk&#44; lying bettween the copies of <i>Nature&#44; New Scientist&#44;</i> and all the other scientific journals her work had appered in&#44; was a well thumbed copy of <i>On The Read</i>&#46; It had been Molly's favorite book since college&#44; and the longer she spent in these four walls the more she felt she needed to be free&#46;<br>  </p>
        <p>She had spent the last ten years in this room&#44; sining under a poter with an Oscar Wilde quote proclaiming that <sup>"</sup> Work is the refuge of people who have nothing better to do<sup>"</sup>&#46; Although many considered her pionnering work&#44; unraveling the secrets of the Ilama DNA&#44; to be an oustanding achievment&#44; Molly did think she had something better to do&#46; </p>
    </body>
</html>    
